<footer>
    <section>
        <div  class="flex-footer">
        <article class="articulo-footer">
            <i class="fas fa-credit-card" id="icono-credito"></i>
            <h3 class="titulos-footer"><strong>Pagá con tarjeta o en efectivo</strong></h3>
            <p class="parrafo-footer">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>

        <article class="articulo-footer">
            <i class="fas fa-gift" id="icono-regalo"></i>
            <h3 class="titulos-footer"><strong>Envío gratis desde los $2500</strong></h3>
            <p class="parrafo-footer">Solo por estar registrado Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>

        <article class="articulo-footer">
            <i class="fas fa-user-shield" id="icono-escudo"></i>
            <h3 class="titulos-footer"><strong>Seguridad de principio a fin</strong></h3>
            <p class="parrafo-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
        </article>
        </div>

        <p class="copy">Copywright © 1999-2022 Mercado Liebre S.R.L.</p>
    </section>
</footer>