<header>

    <div class="contenedor-nav">

        <div class="logo-y-barra">

            <div class="div-logo">
                <a href='/'> <img src = '\img\logo-mercado-liebre.svg' alt = 'Logo de Mercado Liebre' class="logo"> </a>
            </div>

            <form class="form-busqueda">
                <input type="search" name="barra-de-busqueda" required=" " placeholder="Buscar productos, marcas" class="barra-busqueda">
                <button type="submit" class="boton-lupa"><i class="fas fa-search" id="icono-lupa"></i></button>
            </form>

        </div>

    <p class="compraEnCuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
    </div>

    <nav class="main-navbar">
    <ul class="primerLista">
        <li> <a href = '/Ofertas'>Ofertas</a></li>
        <li><a href = '/TiendasOficiales'>Tiendas Oficiales</a></li>
        <li><a href = '/Vender'>Vender</a></li>
        <li><a href = '/Ayuda'>Ayuda</a></li>
    </ul>

    <ul class="segundaLista">
        <li><a href = '/register'>Creá tu cuenta</a><i class="fas fa-address-card"></i></li>
        <li><a href = '/login'>Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
        <li><a href = '/MisCompras'>Mis compras</a><i class="fas fa-shopping-basket"></i></li>
    </ul>

    <div class="burger-menu">
        <button class="burger"><i class="fas fa-bars"></i></button>
        </div>
</nav>
</header>