<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%>


<body>

    <%- include('./partials/header')%>

    <main>

        <div class="form-log-in">
            <h3>Ingresar</h3>
            <form method="GET" action="/">

                <div class="usuario_password">
                <label for="nombre_usuario"></label>
                <input type="text" name="nombre_user" id="nombre_usuario" placeholder="Nombre de usuario" minlength="5" required>
        
                <label for="contra"></label>
                <input type="password" name="clave" id="contra" placeholder="Password" required>
                <button type="submit">Enviar</button>
                </div>
        
            </form>
        </div>
    </main>

    <%- include('./partials/footer')%>


</body>
</html>