<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="CSS/styles.css" rel="stylesheet">
    <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>



<body>
    <header>

        <div class="contenedor-nav">

            <div class="logo-y-barra">

                <div class="div-logo">
                    <a href='/'> <img src = '\img\logo-mercado-liebre.svg' alt = 'Logo de Mercado Liebre' class="logo"> </a>
                </div>

                <form class="form-busqueda">
                    <input type="search" name="barra-de-busqueda" required=" " placeholder="Buscar productos, marcas" class="barra-busqueda">
                    <button type="submit" class="boton-lupa"><i class="fas fa-search" id="icono-lupa"></i></button>
                </form>

            </div>

        <p class="compraEnCuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
    
        <nav class="main-navbar">
        <ul class="primerLista">
            <li> <a href = '/Ofertas'>Ofertas</a></li>
            <li><a href = '/TiendasOficiales'>Tiendas Oficiales</a></li>
            <li><a href = '/Vender'>Vender</a></li>
            <li><a href = '/Ayuda'>Ayuda</a></li>
        </ul>
    
        <ul class="segundaLista">
            <li><a href = '/register'>Creá tu cuenta</a><i class="fas fa-address-card"></i></li>
            <li><a href = '/login'>Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href = '/MisCompras'>Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>

        <div class="burger-menu">
            <button class="burger"><i class="fas fa-bars"></i></button>
            </div>
    </nav>
    </header>


    <main class="seccion-main">

        <main>
            <form method="GET" action="/" class="form-register">

                <h4>Datos personales</h4>
                <div class="top-form">
                <label for="nombre"></label>
                <input type="text" name="nombre_y_apellido" id="nombre" placeholder="Nombre y Apellido" minlength="5" required>
        
                <label for="nombre_usuario"></label>
                <input type="text" name="nombre_user" id="nombre_usuario" placeholder="Nombre de usuario" minlength="5" required>
        
                <label for="email_cliente"></label>
                <input type="email" name="email" id="email_cliente" placeholder="E-mail" required>
                </div>
        
                <h4>Fecha de Nacimiento</h4>
                <div class="mid-form">
                <label for="fecha_nacimiento"></label>
                <input type="date" name="fecha_de_nacimiento" id="fecha_nacimiento">
                
                <label for="domicilio"></label>
                <input type="text" name="domicilio_usuario" id="domicilio" placeholder="Domicilio">
                </div>

                <h4>Perfil de usuario</h4>
                <div class="perfil_de_usuario">
                <input type="radio" name="option" value="comprador">
                <label for="option">Comprador</label>
                
                <input type="radio" name="option" value="vendedor">
                <label for="option">Vendedor</label>
                </div>
        
                <h4>Intereses</h4>
                <div class="categoria_intereses">

                <div class="label-box">
                    <label for="electro">Electro</label>
                    <label for="moda">Moda</label>
                    <label for="hogar">Hogar</label>
                    <label for="jugueteria">Jugueteria</label>
                    <label for="vida_sana">Vida Sana</label>
                </div>

                <div class="categoria-box">
                <input type="checkbox" name="categoria_interes" value="resp_electro" id="electro">
                <input type="checkbox" name="categoria_interes" value="resp_moda" id="moda">
                <input type="checkbox" name="categoria_interes" value="resp_hogar" id="hogar">
                <input type="checkbox" name="categoria_interes" value="resp_jugueteria" id="jugueteria">
                <input type="checkbox" name="categoria_interes" value="resp_vida_sana" id="vida_sana">
                </div>
                </div>

                <div class="upload-profile-img">
                <h4>Subir una imagen para el perfil:</h4>
                <input type="file" name="avatar" accept=".jpg" required>
                </div>
        
                <div class="log-in-box">
                <h4>Contraseña</h4>
                <label for="contra"></label>
                <input type="password" name="clave" id="contra" required>
        
                <h4>Confirmar contraseña</h4>
                <label for="contra_confirm"></label>
                <input type="password" name="clave_confirm" id="contra_confirm" required>
                </div>
                


                <div class="buttons-form">
                    <button type="submit">Enviar</button>
                    <button type="reset" class="boton-borrar">Borrar datos</button>
                </div>
        
                
            </form>
        </main>
    
    </main>

    <footer>
        <section>
            <div  class="flex-footer">
            <article class="articulo-footer">
                <i class="fas fa-credit-card" id="icono-credito"></i>
                <h3 class="titulos-footer"><strong>Pagá con tarjeta o en efectivo</strong></h3>
                <p class="parrafo-footer">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article class="articulo-footer">
                <i class="fas fa-gift" id="icono-regalo"></i>
                <h3 class="titulos-footer"><strong>Envío gratis desde los $2500</strong></h3>
                <p class="parrafo-footer">Solo por estar registrado Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>

            <article class="articulo-footer">
                <i class="fas fa-user-shield" id="icono-escudo"></i>
                <h3 class="titulos-footer"><strong>Seguridad de principio a fin</strong></h3>
                <p class="parrafo-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
            </article>
            </div>

            <p class="copy">Copywright © 1999-2022 Mercado Liebre S.R.L.</p>
            
        </section>
    </footer>


</body>
</html>